{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-2">

        </div>
    <div class="col-8">
        <div class="border-bottom">
        {% if book %}
        <h1>{{ book.title }}</h1>
        <p>By {{ book.author }}</p>
        <p>Published on {{ book.time }}</p>
        <p>ISBN Number:- {{ book.isbn }}</p>
        {% endif %}
        {% if dic %}
        <p>Average Rating:- {{ dic.average_rating }}</p>
        <p>Total No. of Ratings recieved from GoodReads:- {{ dic.reviews_count }}</p>
        {% endif %}
        </div>
        <div class="border-bottom mt-5">
    {% if username %}
        <form method="post" action="">
            <div>
                <textarea class="form-control" name="review" placeholder="Leave a Review" rows="10"></textarea>
            </div>
            <button style="margin-left: 45%" class="mt-3 btn btn-dark">Submit</button>
        </form>
        {% else %}
        <p>Please Log in or Sign up to submit Reviews</p>
        {% endif %}
            </div>
        <div class="border-bottom mt-5">
        {% if reviews %}
        {% for review in reviews %}
        <h3 class="border-bottom"> Review by {{ review.username }} </h3>
        <p class="mt-2">{{ review.review }}</p>
            {% endfor %}
            {% else %}
            <p>No reviews for this book yet!!</p>
            {% endif %}
            </div>
    </div>
    </div>
{% endblock %}