{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-2">

        </div>
    <ul class="col-8">
        {% if dic %}
        {% for i in dic[0] %}
            <li>
                {{ i }} -> {{ dic[0][i] }}
            </li>
        {% endfor %}
        {% endif %}
        {% if book %}
        <h1>{{ book.title }}</h1>
        <p>By {{ book.author }}</p>
        <p>Published on {{ book.time }}</p>
        <p>ISBN Number:- {{ book.isbn }}</p>
        {% endif %}
    </ul>
{% endblock %}