{% extends "layout.html" %}

{% block style %}
{% endblock style %}

{% block content %}
    <div class="ml-lg-5 mr-lg-5">
        <div class="row">
            <div class="col-lg-8 col-sm-12 mt-5">
                <p style="font-size: 30px">
                    Welcome to Miracle Bookstore, where you can leave you reviews and comments on any of the favourite book you're having. Also, if you wanna know the reviews left by the rest of the people, you can have a look at that too!
                </p>
                <div style="margin-left: 40%" class="pt-3">
                <button style="font-size: 25px" class="btn btn-dark">
                    Get Started
                </button>
                    </div>
            </div>
                <img src="static/final.jpeg" class="col-lg-4 col-sm-12"/>
        </div>
    </div>
{% endblock content %}