{% extends 'layout.html' %}

{% block content %}
    <h3>Search your book by title, author, or ISBN number</h3>
    <form method="post" action="">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8 form-group">
                <input class="form-control form-control-lg" name="search">
            </div>
        </div>
        <div style="margin-right: 45%">
            <button class="btn btn-dark">Search</button>
        </div>

    </form>
{% endblock content %}